# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.log
*.tmp
*.bak
*.swp
*.swo
.mypy_cache/
.pytest_cache/
.tox/

# Virtual Environment
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# AWS SAM files
.aws-sam/
.aws/
samconfig.toml

# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
terraform.tfstate.d/
crash.log
*.tfplan
*.tfapply
terraform.tfvars.json
.terraform.lock.hcl

# CircleCI files
.circleci/local_run/

# IDE/editor files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project
*.log

# Secrets files
.env
*.env
*.env.*

# Node.js files
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
