# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.log

# (venv)
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# AWS SAM files
.aws-sam/

# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars

# CircleCI files
.circleci/local_run/

# IDE time limit files
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
Thumbs.db

# secrets files 
.env
*.env

# other files
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
